<div class="contextmenu" id="contextmenu-text">
    <ul class="contextmenu-list">
        <!--<li class="contextmenu-copy">复制</li>-->
        <li class="contextmenu-del">删除</li>
    </ul>
</div>

<div class="contextmenu" id="contextmenu-view">
    <ul class="contextmenu-list">
        <!--<li class="contextmenu-copy">复制</li>-->
        <li class="contextmenu-del">删除</li>
    </ul>
</div>