<!-- 链接弹层 -->
<div class="link-window" style="display:none;">
    <div class="window-menu link-menu">
        <div class="window-menu-title link-menu-title">超链接</div>
        <div class="window-menu-closebtn link-menu-closebtn"></div>
    </div>
    <div class="link-body">
        <div class="link-box"><span class="link-desc">链接地址:</span><input type="text" class="link-input" value="http://www.51vv.com"></div>
        <div class="link-btn link-ok-btn">确定</div>
        <div class="link-btn link-cancel-btn">取消</div>
    </div>
</div>