<div class="sidebar sidebar-colorful clearfix">
    <ul class="sidebar-panel nav">
        <li class="sidetitle">作品管理</li>
        <li><a href="/manage/" class="<% if (nav === 'ppt') { %>active<% } %>"><span class="icon color6"><i class="fa fa-th"></i></span>ppt作品</a></li>
        <li><a href="/manage/m" class="<% if (nav === 'm') { %>active<% } %>"><span class="icon color7"><i class="fa fa-th"></i></span>单页作品</a></li>
        <!--<li><a href="/manage/m-template" class="<% if (nav === 'm-template') { %>active<% } %>"><span class="icon color1"><i class="fa fa-th"></i></span>单页模板素材</a></li>-->
    </ul>
    <!--<ul class="sidebar-panel nav">
        <li class="sidetitle">图片库管理</li>
        <li><a href="/manage/imglist" class="<% if (nav === 'imglist') { %>active<% } %>"><span class="icon color5"><i class="fa fa-photo"></i></span>图片库</a></li>
    </ul>-->
</div>