<div id="top" class="clearfix">

    <!-- Start App Logo -->
    <div class="applogo">
        <a href="/manage" class="logo">51VV</a>
    </div>
    <!-- End App Logo -->

    <!-- Start Sidebar Show Hide Button -->
    <a href="#" class="sidebar-open-button"><i class="fa fa-bars"></i></a>
    <a href="#" class="sidebar-open-button-mobile"><i class="fa fa-bars"></i></a>
    <!-- End Sidebar Show Hide Button -->

    <!-- Start Searchbox -->
    <!--<form class="searchform">
        <input type="text" class="searchbox" id="searchbox" placeholder="Search">
        <span class="searchbutton"><i class="fa fa-search"></i></span>
    </form>-->
    <!-- End Searchbox -->

    <!-- Start build -->
    <a href="/h5" target="_blank" class="new-build">新建ppt作品</a>
    <a href="/m" target="_blank" class="new-build">新建单页作品</a>
    <!-- End Searchbox -->
    
    <!-- Start Top Right -->
    <div class="user-info" id="user-info">
        <!--<div class="user-profile">
            <img src="/images/pic75x75.jpg" alt="">
            <b>1111（普通用户）</b>
        </div>-->
    </div>
    <!-- End Top Right -->

</div>